<a href="javascript:void(0);" class="cart-icon"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span class="badge">2</span></a>
              <div class="cart-table">
                  <table class="table">
                      <tbody>
                          <tr>
                              <td>
                                  <img src="Chocalate_files/cart-img1.jpg" alt="">
                                </td>
                                <td>
                                  <p class="name">Antique Gold </p>
                                    <div class="price">$ 449.0</div>
                                    <div class="qty"><input value="1" type="text">
                                      <a href="#" class="btn btn-info">Update</a>
                                    </div>
                                </td>
                                <td class="options text-right">
                                  <span><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
                                    <span><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                </td>
                            </tr>
                            <tr>
                              <td>
                                  <img src="Chocalate_files/cart-img2.jpg" alt="">
                                </td>
                                <td>
                                  <p class="name">Antique Gold </p>
                                    <div class="price">$ 449.0</div>
                                    <div class="qty"><input value="1" type="text">
                                      <a href="#" class="btn btn-info">Update</a>
                                    </div>
                                </td>
                                <td class="options text-right">
                                  <span><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a></span>
                                    <span><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="total">
                      <label>TOTAL:</label>
                        <span class="price">$ 898.0</span>
                    </div>
                    <div class="checkout">
                      <a href="http://115.160.244.10:8084/themeforest/chocolate/checkout.html" class="btn btn-info btn-block">Checkout</a>
<a href="http://115.160.244.10:8084/themeforest/chocolate/cart.html" class="btn btn-primary btn-block">View cart</a>
                    </div>
                </div>
