<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="header-top-left">
          <a href="#">Вопросы?</a>
          <span>Позвоните нам <%= phones %></span>
        </div>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</div>
