<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="header-top-left">
          <a href="#">Вопросы?</a>
          <span>Позвоните нам <%= phones %></span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="header-top-right">
          <ul class="list-inline">
            <li class="searchBox">
              <a href="javascript:void(0);" class="search-boxSmall">
                <i class="fa fa-search"></i>Поиск
              </a>
              <div class="search-box">
                <div class="icon"><i class="icon icon-search"></i></div>
                <div class="search-view">
                  <input placeholder="Введите запрос …" class="hasPlaceholder" type="text">
                  <button type="submit" value=""><i class="fa fa-search"></i></button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
