<footer id="footer">
  <div class="container">
      <div class="top-footer">
        <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>КОНТАКТЫ</h4>
                            <address>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i><%= address %></p>
                                <p><i class="fa fa-envelope-o" aria-hidden="true"></i><%= email %></p>
                            </address>
                        </div>
                        <div class="col-sm-6">
                          <h4>ИНФОРМАЦИЯ</h4>
                          <ul class="list-unstyled">
                              <li><a href="http://115.160.244.10:8084/themeforest/chocolate/shipping-info.html">Доставка</a></li>
                              <li><a href="#">Оплата</a></li>
                              <li><a href="#">Возврат</a></li>
                              <li><a href="http://115.160.244.10:8084/themeforest/chocolate/faq.html">Вопросы и ответы</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="news-letter">
                      <h4>Подписаться на новости</h4>
                        <p>Укажите свой email, чтобы быть в курсе новостей от нашего магазина!</p>
                        <form class="form-inline">
                            <div class="form-group">
                              <input class="form-control" placeholder="Email адрес" type="email">
                            </div>
                            <button type="submit" class="btn btn-default">Подписаться</button>
                        </form>
                    </div>
                  <h4>Социальные сети</h4>
                  <ul class="list-inline social-links">
                      <% social_networks.each do |social_network| %>
                        <li><%= social_network %></li>
                      <% end %>
                  </ul>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright">©<span class="year">2018</span> chocolate.com. All rights reserved</span>
                </div>
                <div class="col-md-8">
                  <ul class="list-inline">
                        <li><a href="http://115.160.244.10:8084/themeforest/chocolate/about-us.html">Про нас</a></li>
                        <li><a href="#">Условия пользования</a></li>
                        <li><a href="http://115.160.244.10:8084/themeforest/chocolate/blog-left-sidebar.html">Блог</a></li>
                        <li><a href="http://115.160.244.10:8084/themeforest/chocolate/contact-us.html">Связаться с нами</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
