<section class="new-arrivals section-block">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="#"><img src="Chocalate_files/img15.jpg" alt=""></a>
      </div>
      <div class="col-sm-4">
        <a href="#"><img src="Chocalate_files/img16.jpg" alt=""></a>
      </div>
      <div class="col-sm-4">
        <a href="#"><img src="Chocalate_files/img17.jpg" alt=""></a>
      </div>
    </div>
  </div>
</section>
