<div id="content">
  <section class="inner-content">
    <div class="container static-page">
      <div class="about-us">
        <div class="heading"><span><%= title %></span></div>
        <%= body %>
      </div>
    </div>
  </section>
</div>
