<div class="filter-list">
  <h4>Chocolate Categories</h4>
  <div class="check-list">
    <ul class="choclate-categories">
      <li class="has-child"><span class="expand">+</span><a href="javascript:void(0);">Cacao <span>(4)</span></a>
        <ul class="cat-list">
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Cacao Nibs</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Raw Cacao</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Roasted Cacao</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Ground Cacao</a></li>
        </ul>
      </li>
      <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Chocolate Liquor <span>(8)</span></a></li>
      <li class="has-child"><span class="expand">+</span><a href="javascript:void(0);">Unsweetened Chocolate <span>(6)</span></a>
        <ul class="cat-list" l="">
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Chocolate</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Baking Chocolate</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Pure Chocolate</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Bitter Chocolate</a></li>
        </ul>
      </li>
      <li class="has-child"><span class="expand">+</span><a href="javascript:void(0);">Chocolates <span>(4)</span></a>
        <ul class="cat-list">
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Chocolate Candies</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Truffles</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Creams</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Pralines</a></li>
        </ul>
      </li>
      <li class="has-child"><span class="expand">+</span><a href="javascript:void(0);">Bittersweet Chocolate <span>(5)</span></a>
        <ul class="cat-list">
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Semisweet Chocolate</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Dark Chocolate</a></li>
        </ul>
      </li>
      <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Sweet Chocolate <span>(4)</span></a></li>
      <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Milk Chocolate <span>(5)</span></a></li>
      <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">White Chocolate <span>(7)</span></a></li>
      <li class="has-child"><span class="expand">+</span><a href="javascript:void(0);">Chocolate Coating <span>(1)</span></a>
        <ul class="cat-list">
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Compound Chocolate Coating</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Summer Coating</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Chocolate Flavored Coating</a></li>
        </ul>
      </li>
      <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Baking Chocolate <span>(15)</span></a></li>
      <li class="has-child"><span class="expand">+</span><a href="javascript:void(0);">Ground Chocolate <span>(6)</span></a>
        <ul class="cat-list">
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Powdered Chocolate</a></li>
        </ul>
      </li>
      <li class="has-child"><span class="expand">+</span><a href="javascript:void(0);">Cocoa <span>(4)</span></a>
        <ul class="cat-list">
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Cocoa Powder</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Unsweetened Cocoa Powder</a></li>
          <li><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#">Unsweetened Cocoa</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
