<section>
  <div class="container">
      <div class="discount-banner">
            <h1>25%</h1>
            <p>Special Discount</p>
            <a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html#" class="btn btn-default">Shop Now</a>
        </div>
    </div>
</section>
