<div class="filter-list">
  <h4>Price selector</h4>
  <div class="check-list price-selector">
    <div id="keypress" class="noUi-target noUi-ltr noUi-horizontal"></div>
    <input type="text" id="input-with-keypress-0" class="form-control">
    <input type="text" id="input-with-keypress-1" class="form-control">
  </div>
</div>
