<div class="top-left-filter">
  <div class="filter-group">
    <label>Short by : </label>
    <select id="short-by" class="selectpicker show-tick form-control bs-select-hidden">
      <option>Popular</option>
      <option>New</option>
      <option>Mostly Viewed</option>
    </select>
  </div>
  <div class="filter-group">
    <ul class="list-inline view-options">
      <li class="active"><a href="http://115.160.244.10:8084/themeforest/chocolate/search-page.html"><i class="fa fa-th-large" aria-hidden="true"></i></a></li>
      <li><a href="http://115.160.244.10:8084/themeforest/chocolate/list-view.html"><i class="fa fa-list" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</div>
