<div class="breadcrumb-section">
  <div class="container">
    <ol class="breadcrumb">
      <li><%= link_to('Главная страница', landing_page_path) %></li>
      <li class="active">Каталог шоколада</li>
    </ol>
  </div>
</div>
