<section class="best-seller section-block">
  <div class="container">
    <div class="heading">
      <span>Best Seller</span>
    </div>
    <div class="product-list">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="product-box">
            <div class="img">
              <img src="Chocalate_files/img5.jpg" alt="">
            </div>
            <div class="product-detail">
              <div class="name">
                <strong>Antique Gold - </strong>Chocolate bar with and 14 Milk Chocolates
              </div>
              <div class="rating">
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star-half-full" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              </div>
              <div class="price">
                <span>$ 449.0</span>
              </div>
            </div>
            <div class="hover-block">
              <ul class="list-inline">
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/cart.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/my-wishlist.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/product-detail.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quickview"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-box">
            <div class="img">
              <img src="Chocalate_files/img6.jpg" alt="">
            </div>
            <div class="product-detail">
              <div class="name">
                <strong>Antique Gold - </strong>Chocolate bar with and 14 Milk Chocolates
              </div>
              <div class="rating">
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star-half-full" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              </div>
              <div class="price">
                <span>$ 449.0</span>
              </div>
            </div>
            <div class="hover-block">
              <ul class="list-inline">
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/cart.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/my-wishlist.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/product-detail.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quickview"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-box">
            <div class="img">
              <img src="Chocalate_files/img7.jpg" alt="">
            </div>
            <div class="product-detail">
              <div class="name">
                <strong>Antique Gold - </strong>Chocolate bar with and 14 Milk Chocolates
              </div>
              <div class="rating">
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star-half-full" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              </div>
              <div class="price">
                <span>$ 449.0</span>
              </div>
            </div>
            <div class="hover-block">
              <ul class="list-inline">
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/cart.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/my-wishlist.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/product-detail.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quickview"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="product-box">
            <div class="img">
              <img src="Chocalate_files/img8.jpg" alt="">
            </div>
            <div class="product-detail">
              <div class="name">
                <strong>Antique Gold - </strong>Chocolate bar with and 14 Milk Chocolates
              </div>
              <div class="rating">
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star-half-full" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-star" aria-hidden="true"></i></a>
              </div>
              <div class="price">
                <span>$ 449.0</span>
              </div>
            </div>
            <div class="hover-block">
              <ul class="list-inline">
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/cart.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cart"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/my-wishlist.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/product-detail.html" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quickview"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
