<section class="best-seller section-block">
  <div class="container">
    <div class="heading">
      <span><%= title %></span>
    </div>
    <div class="product-list">
      <div class="row">
        <%= cell(Lib::Cell::ProductGridPreview, collection: products) %>
      </div>
    </div>
  </div>
</section>
