<section class="best-seller section-block">
  <div class="container">
    <div class="heading">
      <span>Best Seller</span>
    </div>
    <div class="product-list">
      <div class="row">
        <%= cell(Lib::Cell::ProductPreview, collection: model) %>
      </div>
    </div>
  </div>
</section>
