<section class="new-arrivals section-block">
  <div class="container">
    <div class="row">
      <div class="heading">
        <span><%= title %></span>
      </div>
      <% new_arrivals.order(:position).each do |new_arrival| %>
        <div class="col-sm-4">
          <a href="#"><%= image_tag new_arrival.image.url%></a>
        </div>
      <% end %>
    </div>
  </div>
</section>
