<section class="our-customers section-block">
  <div class="container">
    <div class="heading">
      <span>Customers love our chocolates</span>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-4">
            <div class="cust-info">
              <span class="icon"><i class="fa fa-gift" aria-hidden="true"></i></span>
              <p><span class="counter">200</span> Orders Per Day </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="cust-info">
              <span class="icon"><i class="fa fa-users " aria-hidden="true"></i></span>
              <p><span class="counter">35000</span> Customers </p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="cust-info">
              <span class="icon"><i class="fa fa-trophy" aria-hidden="true"></i></span>
              <p><span class="counter">15</span> Awards</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="client-slider">
          <div>
            <div class="client-feedback">
              <div class="client-img">
                <img src="Chocalate_files/user-img.jpg" alt="">
              </div>
              <div class="detail">
                <h4>John Doe</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the ...</p>
              </div>
            </div>
          </div>
          <div>
            <div class="client-feedback">
              <div class="client-img">
                <img src="Chocalate_files/user-img.jpg" alt="">
              </div>
              <div class="detail">
                  <h4>John Doe</h4>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the ...</p>
              </div>
            </div>
          </div>
          <div>
            <div class="client-feedback">
              <div class="client-img">
                <img src="Chocalate_files/user-img.jpg" alt="">
              </div>
              <div class="detail">
                <h4>John Doe</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the ...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
