<section class="upcoming-offers">
  <div class="overlay">
    <div class="black-overlay"></div>
    <div class="container">
      <div class="detail">
        <span class="title"><%= upcoming_offer.short_title %></span>
        <h2><%= upcoming_offer.title %></h2>
        <p><%= upcoming_offer.description %></p>
        <%= buy_now_link %>
      </div>
    </div>
  </div>
</section>
