<div id="content">
  <section class="inner-content">
    <div class="container">
      <div class="page-404">
        <img src="/Chocalate_files/404-img.jpg" alt="404 Image">
          <p>Мы не можем найти страницу, которую Вы запросили.</p>
          <%= link_to 'Вернуться на главную страницу', landing_page_path, class: 'btn btn-info btn-large' %>
      </div>
    </div>
  </section>
</div>
