<section>
  <div class="container">
      <div class="discount-banner" style="background: url(<%= image.url %>) no-repeat center center;">
            <h1><%= title %></h1>
            <p><%= short_description %></p>
            <%= button %>
        </div>
    </div>
</section>
