<div class="filter-list">
  <h4>Фильтр по цене</h4>
  <div class="check-list price-selector">
    <div class="range-slider">
      <input type="text" id="example_id" class="js-range-slider" value=""
        data-min="<%= min_price %>"
        data-max="<%= max_price %>"
        data-from="<%= price_from %>"
        data-to="<%= price_to %>"
        data-type="double"
        data-postfix=" грн."
      />
    </div>
  </div>
</div>
