<footer id="footer">
  <div class="container">
      <div class="top-footer">
        <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>CONTACTS</h4>
                            <address>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i>1344 Franklee Lane, Eagleville<br>Pennsylvania NY - 01403</p>
                                <p><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:letters@chocolate.com">letters@chocolate.com</a></p>
                                <p><i class="fa fa-comment-o" aria-hidden="true"></i><a href="#">Live Chat</a></p>
                            </address>
                        </div>
                        <div class="col-sm-6">
                          <h4>BUSINESS ACCOUNTS</h4>
                            <ul class="list-unstyled">
                              <li><a href="#">Business Account Request</a></li>
                                <li><a href="#">Business Email Order Form </a></li>
                                <li><a href="#">Business Fax Order Form</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>CUSTOMER SERVICE</h4>
                            <ul class="list-unstyled">
                              <li><a href="#">Order Tracking</a></li>
                                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/shipping-info.html">Shipping Info</a></li>
                                <li><a href="#">Return Policy</a></li>
                                <li><a href="#">Check Gift Card Balance</a></li>
                                <li><a href="http://115.160.244.10:8084/themeforest/chocolate/faq.html">FAQs</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <h4>NEWS AND UPDATES</h4>
                            <ul class="list-unstyled">
                              <li><a href="#">Catalog Subscribe</a></li>
                                <li><a href="#">Catalog Unsubscribe</a></li>
                                <li><a href="#">Email Preferences</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                  <div class="news-letter">
                      <h4>Get the latest</h4>
                        <p>Lorem Ipsum is simply dummy text of
the printing and typesetting industry. Lorem Ipsum has been the
industry's standard dummy text ever since the 1500s,</p>
                        <form class="form-inline">
                            <div class="form-group">
                              <input class="form-control" placeholder="Email address" type="email">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                  <h4>CONNECT WITH US</h4>
                  <ul class="list-inline social-links">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
          <div class="row">
              <div class="col-md-4">
                  <span class="copyright">©<span class="year">2018</span> chocolate.com. All rights reserved</span>
                </div>
                <div class="col-md-8">
                  <ul class="list-inline">
                        <li><a href="#">Sitemap</a></li>
                        <li><a href="http://115.160.244.10:8084/themeforest/chocolate/about-us.html">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="http://115.160.244.10:8084/themeforest/chocolate/blog-left-sidebar.html">Blog</a></li>
                        <li><a href="http://115.160.244.10:8084/themeforest/chocolate/contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
